In [2]:
import pandas as pd

df = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_4.csv', encoding='CP949')

In [3]:
df

,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0
1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0
2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0
3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0
4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0
...,...,...,...,...,...,...,...,...,...,...
369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [4]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

In [5]:
path = '/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_4.csv'
df = pd.read_csv(path, encoding='CP949')
# 숫자형 열만 선택 (열 이름이 정확한지 확인)
numeric_columns = ['기온(°C)', '풍향(deg)', '풍속(m/s)', '강수량(mm)', '현지기압(hPa)', '해면기압(hPa)', '습도(%)']

# KNN Imputer 생성 (k=2로 설정)
imputer = KNNImputer(n_neighbors=3)

# 결측치 대체 수행
df_imputed = imputer.fit_transform(df.loc[:, numeric_columns])

# 대체된 값을 DataFrame으로 변환
df_imputed = pd.DataFrame(df_imputed, columns=numeric_columns)

# 원본 데이터프레임에 대체된 열을 다시 삽입
df[numeric_columns] = df_imputed

df.to_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_4_m1.csv')
del df

# 완료(2024_08_24)

In [5]:
mdf = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_4_m1.csv')

In [6]:
mdf

,Unnamed: 0,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
0,0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0
1,1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0
2,2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0
3,3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0
4,4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0
...,...,...,...,...,...,...,...,...,...,...,...
369310,369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [14]:
m1df = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_4_m1.csv')

In [15]:
m1df

,Unnamed: 0,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
0,0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0
1,1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0
2,2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0
3,3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0
4,4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0
...,...,...,...,...,...,...,...,...,...,...,...
369310,369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [16]:
m1df.drop('Unnamed: 0', axis=1, inplace=True)

In [17]:
m1df

,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0
1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0
2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0
3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0
4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0
...,...,...,...,...,...,...,...,...,...,...
369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [18]:
m1df.to_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_4_m1.csv', index=False)

In [19]:
m1df = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_4_m1.csv')

In [20]:
m1df

,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0
1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0
2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0
3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0
4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0
...,...,...,...,...,...,...,...,...,...,...
369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [21]:
mdf

,Unnamed: 0,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
0,0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0
1,1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0
2,2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0
3,3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0
4,4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0
...,...,...,...,...,...,...,...,...,...,...,...
369310,369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [22]:
mdf.drop('Unnamed: 0', axis=1, inplace=True)

In [23]:
mdf.to_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_1_m1.csv', index=False)