In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/Users/danawls/Desktop/test.csv')

In [6]:
df

,date,생성일,생성시분,LINK_ID,통행속도,통행시간,돌발일시,도로타입,도로번호,도로명,...,ROAD_TYPE,ROAD_NO,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,LENGTH,NODE_TYPE,TURN_P,geometry
0,2023-01-16 00:00:00,20230116,0,1000000301,7.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
1,2023-01-16 00:05:00,20230116,5,1000000301,7.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
2,2023-01-16 00:10:00,20230116,10,1000000301,9.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
3,2023-01-16 00:15:00,20230116,15,1000000301,10.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
4,2023-01-16 00:20:00,20230116,20,1000000301,18.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,2023-01-16 23:25:00,20230116,2325,1000000301,11.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
192,2023-01-16 23:35:00,20230116,2335,1000000301,11.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
193,2023-01-16 23:45:00,20230116,2345,1000000301,22.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
194,2023-01-16 23:50:00,20230116,2350,1000000301,22.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)
195,2023-01-16 23:55:00,20230116,2355,1000000301,22.0,0,NaN,NaN,NaN,NaN,...,0,6,0,1,0,50,150.925973,101,1,POINT (126.97931478533482 37.57020294880866)