In [1]:
import pandas as pd
import dask.dataframe as ddf

c_1 = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/its-소통/1/its_c_1_1_m1.csv', dtype='object')
e_1 = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/its-돌발/1/its_e_1_1_m1.csv', dtype='object')
w_1 = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/기상청-방재/weather_1_m1.csv')
r = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/도로 데이터/road(info)_m1.csv')
area = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/전국교통사고다발지역표준데이터/전국교통사고다발지역표준데이터.csv')
cam = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/전국무인교통단속카메라표준데이터/전국무인교통단속카메라표준데이터_m1.csv')
node = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/표준노드링크/data/node_m1.csv')
link = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/표준노드링크/data/link_m1.csv')
men = ddf.read_csv(
    '/Volumes/Expansion/traffic-prediction/data/행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수/행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20240731.csv')
c = ddf.read_csv('/Volumes/Expansion/traffic-prediction/data/혼잡빈도/confusion_1_m1.csv')

In [2]:
lh = link.compute()

In [20]:
lh['LINK_ID'] == 1000000200

0        False
1        False
2        False
3        False
4        False
         ...
73639    False
73640    False
73641    False
73642    False
73643    False
Name: LINK_ID, Length: 548593, dtype: bool

In [4]:
c1h = c_1.head(1000000)

In [5]:
c1h

             생성일 생성시분        링크ID  통행속도 통행시간
0       20230101    0  1000000200  36.0    0
1       20230101    0  1000000300  13.0    0
2       20230101    0  1000000301  22.0    0
3       20230101    0  1000000302  21.0    0
4       20230101    0  1000000303   6.0    0
...          ...  ...         ...   ...  ...
999995  20230101    5  2930026202  18.0    0
999996  20230101    5  2930026203  18.0    0
999997  20230101    5  2930026301  30.0    0
999998  20230101    5  2930026302  30.0    0
999999  20230101    5  2930026303  30.0    0

[1000000 rows x 5 columns]

In [18]:
c1h.rename(columns={'링크ID':'LINK_ID'}, inplace=True)
lh = lh.astype({'LINK_ID':'str'})
c1h = c1h.astype({'LINK_ID':'str'})

In [16]:
c1h_lh = pd.merge(c1h, lh, on='LINK_ID', how='outer')

In [17]:
c1h_lh

,생성일,생성시분,LINK_ID,통행속도,통행시간,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,...,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,C-ITS,LENGTH,UPDATEDATE,geometry
0,20230101,5,1000000100,35.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20230101,0,1000000200,36.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20230101,5,1000000200,32.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20230101,0,1000000300,13.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20230101,5,1000000300,13.0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010636,NaN,NaN,4180388900,NaN,NaN,4.180131e+09,4.180132e+09,1.0,107.0,0.0,...,0.0,1.0,40.0,0.0,0.0,0.0,0.0,182.552365,20231211.0,LINESTRING (128.70548919796624 35.161228806211...
1010637,NaN,NaN,4180389000,NaN,NaN,4.180132e+09,4.180131e+09,3.0,107.0,0.0,...,0.0,0.0,80.0,0.0,0.0,0.0,0.0,216.481541,20231211.0,LINESTRING (128.7075771684888 35.1603100637833...
1010638,NaN,NaN,4180389100,NaN,NaN,4.180132e+09,4.180131e+09,1.0,107.0,0.0,...,0.0,0.0,40.0,0.0,0.0,0.0,0.0,700.049120,20231211.0,LINESTRING (128.71210951040825 35.156478273791...
1010639,NaN,NaN,4180389200,NaN,NaN,4.180131e+09,4.180132e+09,1.0,107.0,0.0,...,0.0,0.0,40.0,0.0,0.0,480.0,0.0,365.341350,20231211.0,LINESTRING (128.70583343563644 35.159436917698...
1010640,NaN,NaN,4180389300,NaN,NaN,4.180132e+09,4.180131e+09,1.0,107.0,0.0,...,0.0,1.0,40.0,5.0,0.0,0.0,0.0,242.857446,20231211.0,LINESTRING (128.7054053493841 35.1622938464217...

In [160]:
e1h = e_1.compute()

In [161]:
e1h.rename(columns={'도로번호':'ROAD_NO'}, inplace=True)

In [162]:
e1h

,돌발일시,관리기관,도로타입,ROAD_NO,도로명,방향,돌발구분,돌발상세구분,돌발내용,X,Y,링크아이디,돌발종료일시
0,2023-01-01 13:12:27,한국도로공사,고속국도,60,서울양양선,양양 방향,기타돌발,고장,(갓길)승용차고장처리중,128.4929,37.9769,2650168000,-
1,2023-01-01 12:41:17,한국도로공사,고속국도,45,중부내륙선,창원 방향,기타돌발,차량증가/정체,차량증가/정체,127.6062,37.2134,2370601900,-
2,2023-01-01 11:05:13,한국도로공사,고속국도,65,동해선(부산-포항),포항 방향,교통사고,사고,(갓길)승용차관련사고처리중,129.4162,35.7734,3520264800,-
3,2023-01-01 15:48:21,한국도로공사,고속국도,40,평택제천선,제천 방향,기타돌발,차량증가/정체,차량증가/정체,127.6166,36.9861,2810051300,-
4,2023-01-01 14:13:00,한국도로공사,고속국도,25,논산천안선,천안 방향,기타돌발,차량증가/정체,-차령터널(263K)3km정체,127.1026,36.0819,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,2023-01-01 15:04:00,경찰청,시군도,0,가양대로,-,공사,-,<공사> 가양로 구룡사거리 마포구고양시덕양구 1차로 주의운전 도로공사 -,126.872128,37.581869,2180147300,2023-01-01 18:00:00
1119,2023-01-01 15:12:00,경찰청,일반국도,38,서동대로,-,공사,-,<공사> 일반국도38호선 안양교앞교차로 내리사거리 2차로 주의운전 도로공사 -,127.215717,37.009206,2310014402,2023-01-01 17:00:00
1120,2023-01-01 15:22:00,경찰청,특별광역시도,0,계백로1716번길,-,공사,-,<공사> 계백로1716번길 센트럴파크3차 글꽃초등학교사거리 1차로 주의운전 도로공사 -,127.411943,36.319642,1840126300,2023-01-01 18:00:00
1121,2023-01-01 16:19:00,경찰청,특별광역시도,0,국회대로,-,교통사고,-,<사고> 국회대로 여의2교남단교차로 의원회관앞교차로 4차로 주의운전 교통사고 서울청,126.912093,37.526136,1180031502,2023-01-01 16:30:00
1122,2023-01-01 18:56:00,경찰청,고속국도,30,당진영덕고속도로,-,교통사고,-,<사고> 청주영덕고속도로 안동시의성군 안동JC 2차로 156 Km (안동JC 방향)...,128.630014,36.431557,3540811600,2023-01-01 19:26:00

In [163]:
def remove_s(v):
    a = str(v)
    return a[:-2] + '00'


remove_s('2023-01-01 15:48:21')
e1h['date'] = pd.to_datetime(e1h['돌발일시'].apply(remove_s))

In [164]:
def move_date_first(a):
    return pd.Index([a.columns[-1]]).append(a.columns[:-1])


e1h = e1h[move_date_first(e1h)]

In [165]:
def get_big_date(v):
    a = str(v)
    return a[:4] + '-' + a[4:6] + '-' + a[6:8]


def get_time(v):
    a = str(v).rjust(4, '0')
    return a[:2] + ':' + a[2:]

print(get_time(103))

01:03

In [166]:
c1h_lh['date'] = pd.to_datetime(c1h_lh['생성일'].apply(get_big_date) + ' ' + c1h_lh['생성시분'].apply(get_time))

In [167]:
c1h_lh = c1h_lh[pd.Index([c1h_lh.columns[-1]]).append(c1h_lh.columns[:-1])]

In [168]:
c1h_lh

,date,생성일,생성시분,LINK_ID,통행속도,통행시간,F_NODE,T_NODE,LANES,ROAD_RANK,...,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,C-ITS,LENGTH,UPDATEDATE,geometry
0,2023-01-01 00:00:00,20230101,0,1000000200,36.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-01 00:00:00,20230101,0,1000000300,13.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-01 00:00:00,20230101,0,1000000301,22.0,0,1.000009e+09,1.000009e+09,2.0,103.0,...,1.0,0.0,50.0,0.0,0.0,0.0,0.0,150.925973,20230519.0,LINESTRING (198172.67339999974 552289.98860000...
3,2023-01-01 00:00:00,20230101,0,1000000302,21.0,0,1.000009e+09,1.000008e+09,2.0,103.0,...,1.0,0.0,50.0,0.0,0.0,0.0,0.0,104.866247,20230519.0,LINESTRING (198323.61659999925 552291.47059999...
4,2023-01-01 00:00:00,20230101,0,1000000303,6.0,0,1.000008e+09,1.000009e+09,2.0,103.0,...,1.0,0.0,50.0,0.0,0.0,0.0,0.0,67.499686,20230519.0,LINESTRING (198428.47270000092 552292.92939999...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2023-01-01 00:05:00,20230101,5,2930026202,18.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999996,2023-01-01 00:05:00,20230101,5,2930026203,18.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999997,2023-01-01 00:05:00,20230101,5,2930026301,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,2023-01-01 00:05:00,20230101,5,2930026302,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999999,2023-01-01 00:05:00,20230101,5,2930026303,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
e1h

,date,돌발일시,관리기관,도로타입,ROAD_NO,도로명,방향,돌발구분,돌발상세구분,돌발내용,X,Y,링크아이디,돌발종료일시
0,2023-01-01 13:12:00,2023-01-01 13:12:27,한국도로공사,고속국도,60,서울양양선,양양 방향,기타돌발,고장,(갓길)승용차고장처리중,128.4929,37.9769,2650168000,-
1,2023-01-01 12:41:00,2023-01-01 12:41:17,한국도로공사,고속국도,45,중부내륙선,창원 방향,기타돌발,차량증가/정체,차량증가/정체,127.6062,37.2134,2370601900,-
2,2023-01-01 11:05:00,2023-01-01 11:05:13,한국도로공사,고속국도,65,동해선(부산-포항),포항 방향,교통사고,사고,(갓길)승용차관련사고처리중,129.4162,35.7734,3520264800,-
3,2023-01-01 15:48:00,2023-01-01 15:48:21,한국도로공사,고속국도,40,평택제천선,제천 방향,기타돌발,차량증가/정체,차량증가/정체,127.6166,36.9861,2810051300,-
4,2023-01-01 14:13:00,2023-01-01 14:13:00,한국도로공사,고속국도,25,논산천안선,천안 방향,기타돌발,차량증가/정체,-차령터널(263K)3km정체,127.1026,36.0819,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,2023-01-01 15:04:00,2023-01-01 15:04:00,경찰청,시군도,0,가양대로,-,공사,-,<공사> 가양로 구룡사거리 마포구고양시덕양구 1차로 주의운전 도로공사 -,126.872128,37.581869,2180147300,2023-01-01 18:00:00
1119,2023-01-01 15:12:00,2023-01-01 15:12:00,경찰청,일반국도,38,서동대로,-,공사,-,<공사> 일반국도38호선 안양교앞교차로 내리사거리 2차로 주의운전 도로공사 -,127.215717,37.009206,2310014402,2023-01-01 17:00:00
1120,2023-01-01 15:22:00,2023-01-01 15:22:00,경찰청,특별광역시도,0,계백로1716번길,-,공사,-,<공사> 계백로1716번길 센트럴파크3차 글꽃초등학교사거리 1차로 주의운전 도로공사 -,127.411943,36.319642,1840126300,2023-01-01 18:00:00
1121,2023-01-01 16:19:00,2023-01-01 16:19:00,경찰청,특별광역시도,0,국회대로,-,교통사고,-,<사고> 국회대로 여의2교남단교차로 의원회관앞교차로 4차로 주의운전 교통사고 서울청,126.912093,37.526136,1180031502,2023-01-01 16:30:00
1122,2023-01-01 18:56:00,2023-01-01 18:56:00,경찰청,고속국도,30,당진영덕고속도로,-,교통사고,-,<사고> 청주영덕고속도로 안동시의성군 안동JC 2차로 156 Km (안동JC 방향)...,128.630014,36.431557,3540811600,2023-01-01 19:26:00

In [170]:
def custom_round(a):
    s = str(a)
    number = int(s[14:16])
    
    if number >= 53:
        return s
    else:
        remainder = number % 10  # 1의 자리 숫자를 얻기 위해 10으로 나눈 나머지를 구합니다.
    result = 0
    if remainder in [0, 1, 2]:
        result =  number - remainder  # 0, 1, 2는 0으로 반올림
    elif remainder in [3, 4, 5, 6, 7]:
        result =  number - remainder + 5  # 3, 4, 5, 6, 7은 5로 반올림
    else:
        result =  number - remainder + 10  # 8, 9는 0으로 반올림
    
    return s[:14] + str(result) + s[16:]

In [171]:
custom_round('2023-01-01 14:58:00')

'2023-01-01 14:58:00'

In [172]:
e1h['date'] = pd.to_datetime(e1h['date'].apply(custom_round))
e1h.rename(columns={'링크아이디':'LINK_ID'}, inplace=True)

In [173]:
c1h_lh.astype({'LINK_ID':'str'})
e1h.astype({'LINK_ID':'str'})

c1h_lh_e1h = pd.merge(c1h_lh, e1h, on=['date', 'LINK_ID', 'ROAD_NO'], how='left')

In [174]:
c1h_lh_e1h

,date,생성일,생성시분,LINK_ID,통행속도,통행시간,F_NODE,T_NODE,LANES,ROAD_RANK,...,관리기관,도로타입,도로명,방향,돌발구분,돌발상세구분,돌발내용,X,Y,돌발종료일시
0,2023-01-01 00:00:00,20230101,0,1000000200,36.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-01 00:00:00,20230101,0,1000000300,13.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-01 00:00:00,20230101,0,1000000301,22.0,0,1.000009e+09,1.000009e+09,2.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2023-01-01 00:00:00,20230101,0,1000000302,21.0,0,1.000009e+09,1.000008e+09,2.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2023-01-01 00:00:00,20230101,0,1000000303,6.0,0,1.000008e+09,1.000009e+09,2.0,103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999996,2023-01-01 00:05:00,20230101,5,2930026202,18.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999997,2023-01-01 00:05:00,20230101,5,2930026203,18.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,2023-01-01 00:05:00,20230101,5,2930026301,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999999,2023-01-01 00:05:00,20230101,5,2930026302,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000000,2023-01-01 00:05:00,20230101,5,2930026303,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
w1h = w_1.compute()

In [176]:
w1h[20:]

,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%)
20,12,안면도(감),2023-04-01 20:00,13.9,317.6,2.4,0.0,1007.9,1015.0,52.0
21,12,안면도(감),2023-04-01 21:00,13.6,353.9,2.8,0.0,1008.6,1015.8,49.0
22,12,안면도(감),2023-04-01 22:00,14.2,4.5,2.7,0.0,1009.0,1016.1,38.0
23,12,안면도(감),2023-04-01 23:00,13.4,64.3,3.1,0.0,1009.7,1016.9,40.0
24,12,안면도(감),2023-04-02 00:00,13.6,73.5,2.4,0.0,1009.8,1017.0,39.0
...,...,...,...,...,...,...,...,...,...,...
369310,994,심포,2023-04-29 20:00,11.4,320.6,10.8,0.0,1010.1,1010.5,82.0
369311,994,심포,2023-04-29 21:00,11.0,313.8,9.2,0.0,1010.9,1011.3,73.0
369312,994,심포,2023-04-29 22:00,10.9,332.9,7.6,0.0,1011.6,1012.0,75.0
369313,994,심포,2023-04-29 23:00,10.8,328.4,6.5,0.0,1011.8,1012.2,76.0
369314,994,심포,2023-04-30 00:00,10.6,331.5,8.4,0.0,1012.2,1012.6,76.0

In [177]:
spot = pd.read_csv('/Volumes/Expansion/traffic-prediction/data/other/META_관측지점정보_20240825213356.csv')

In [178]:
spot

      지점     지점명       위도        경도
0     12  안면도(감)  36.5333  126.3167
1     96      독도  37.2395  131.8698
2    116   관악(레)  37.4453  126.9640
3    144   군산(레)  36.0123  126.7834
4    160   부산(레)  35.1188  129.0000
..   ...     ...      ...       ...
544  989    안덕화순  33.2579  126.3299
545  990      낙천  33.3182  126.2305
546  991      옥포  35.8028  128.4456
547  992      하빈  35.9062  128.4464
548  993    제주금악  33.3423  126.3099

[549 rows x 4 columns]

In [179]:
w1h_spot = pd.merge(w1h, spot, on=['지점', '지점명'], how='inner')

In [180]:
w1h_spot

,지점,지점명,일시,기온(°C),풍향(deg),풍속(m/s),강수량(mm),현지기압(hPa),해면기압(hPa),습도(%),위도,경도
0,12,안면도(감),2023-04-01 00:00,10.3,50.2,2.5,0.0,1011.3,1018.6,41.0,36.5333,126.3167
1,12,안면도(감),2023-04-01 01:00,10.2,53.5,1.3,0.0,1011.3,1018.6,44.0,36.5333,126.3167
2,12,안면도(감),2023-04-01 02:00,10.4,103.2,2.4,0.0,1011.3,1018.6,50.0,36.5333,126.3167
3,12,안면도(감),2023-04-01 03:00,11.5,61.6,0.8,0.0,1010.9,1018.2,41.0,36.5333,126.3167
4,12,안면도(감),2023-04-01 04:00,10.3,335.4,2.2,0.0,1010.4,1017.7,47.0,36.5333,126.3167
...,...,...,...,...,...,...,...,...,...,...,...,...
365128,992,하빈,2023-04-29 20:00,15.7,298.5,4.8,0.0,1001.6,1005.8,53.0,35.9062,128.4464
365129,992,하빈,2023-04-29 21:00,14.2,282.7,3.2,0.0,1003.0,1007.2,55.0,35.9062,128.4464
365130,992,하빈,2023-04-29 22:00,13.4,280.4,2.1,0.0,1003.1,1007.3,58.0,35.9062,128.4464
365131,992,하빈,2023-04-29 23:00,10.3,217.6,0.7,0.0,1003.2,1007.5,78.0,35.9062,128.4464
365132,992,하빈,2023-04-30 00:00,9.3,215.1,0.7,0.0,1003.7,1008.0,84.0,35.9062,128.4464

In [181]:
l1h = link.compute()

In [182]:
l1h

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,C-ITS,LENGTH,UPDATEDATE,geometry
0,2710002605,2710246000,2710245800,2,101,0,35,ÁßºÎ°í¼Óµµ·Î,0,0,0,110,5,0,0,0,802.513275,20240223,LINESTRING (237463.82864681576 448494.14197941...
1,2710002506,2710246300,2710008400,2,101,0,35,ÁßºÎ°í¼Óµµ·Î,0,0,0,110,5,0,0,0,911.416276,20240223,LINESTRING (237391.9446491873 449402.386403182...
2,2710002607,2710246200,2710246000,2,101,0,35,ÁßºÎ°í¼Óµµ·Î,0,0,0,110,5,0,0,0,918.955738,20240223,LINESTRING (237384.37150444122 449403.15866465...
3,2710706900,2710245000,2710244600,2,107,0,-,-,0,0,0,40,0,0,0,0,59.268985,20240223,LINESTRING (237671.09146364938 446586.04185184...
4,2150268601,2150102800,2150102900,1,107,0,-,-,0,0,0,40,0,0,0,0,7.638523,20231211,LINESTRING (205113.4722244901 596106.180547790...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73676,2870019411,2870008101,2870078400,2,101,0,15,¼­ÇØ¾È°í¼Óµµ·Î,0,0,0,110,5,0,0,0,11066.335812,20230519,LINESTRING (160193.08210000023 419974.33589999...
73677,3130000103,3130000101,3130000106,1,106,0,742,¹éÀå·Î,0,0,0,60,0,0,0,0,5620.608180,20230519,LINESTRING (240299.19749999978 338592.37050000...
73678,3510029708,3510012607,3510015403,1,105,0,20,ÇØ¾È·Î,0,0,0,50,0,0,0,0,2814.570321,20230519,LINESTRING (415735.5536000002 398641.552600000...
73679,1860014904,1860006902,1860007000,1,104,0,-,±Ý³²±¸Áï·Î,0,0,0,30,0,0,0,0,1708.927407,20230519,LINESTRING (234456.0343000004 427806.905200000...
73680,2650003820,2650001502,2650001501,1,106,0,446,±èºÎ´ë¿Õ·Î,0,0,0,60,0,0,0,0,1127.902246,20230519,LINESTRING (301730.53529999964 591072.17139999...

In [185]:
l1h = l1h.astype({'LINK_ID':'str'})
c1h_lh_e1h = c1h_lh_e1h.astype({'LINK_ID':'str'})
c1h_lh_e1h_l1h = pd.merge(c1h_lh_e1h, l1h, on='LINK_ID', how='left')

In [186]:
c1h_lh_e1h_l1h

,date,생성일,생성시분,LINK_ID,통행속도,통행시간,F_NODE_x,T_NODE_x,LANES_x,ROAD_RANK_x,...,MULTI_LINK_y,CONNECT_y,MAX_SPD_y,REST_VEH_y,REST_W_y,REST_H_y,C-ITS_y,LENGTH_y,UPDATEDATE_y,geometry_y
0,2023-01-01 00:00:00,20230101,0,1000000200,36.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2023-01-01 00:00:00,20230101,0,1000000300,13.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2023-01-01 00:00:00,20230101,0,1000000301,22.0,0,1.000009e+09,1.000009e+09,2.0,103.0,...,1.0,0.0,50.0,0.0,0.0,0.0,0.0,150.925973,20230519.0,LINESTRING (198172.67339999974 552289.98860000...
3,2023-01-01 00:00:00,20230101,0,1000000302,21.0,0,1.000009e+09,1.000008e+09,2.0,103.0,...,1.0,0.0,50.0,0.0,0.0,0.0,0.0,104.866247,20230519.0,LINESTRING (198323.61659999925 552291.47059999...
4,2023-01-01 00:00:00,20230101,0,1000000303,6.0,0,1.000008e+09,1.000009e+09,2.0,103.0,...,1.0,0.0,50.0,0.0,0.0,0.0,0.0,67.499686,20230519.0,LINESTRING (198428.47270000092 552292.92939999...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999996,2023-01-01 00:05:00,20230101,5,2930026202,18.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999997,2023-01-01 00:05:00,20230101,5,2930026203,18.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,2023-01-01 00:05:00,20230101,5,2930026301,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999999,2023-01-01 00:05:00,20230101,5,2930026302,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000000,2023-01-01 00:05:00,20230101,5,2930026303,30.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
n1h = node.compute()

In [188]:
n1h

,NODE_ID,NODE_TYPE,NODE_NAME,TURN_P,UPDATEDATE,geometry
0,3690003600,101,¿Ö°üÃ»³âÈ¸ÀÇ¼Ò,1,20230519,POINT (326382.13430000003 377572.8587999996)
1,3690004304,101,¿Ö°üÁß¾ÓÃÊµîÇÐ±³,1,20230519,POINT (326700.84229999967 378904.5479000006)
2,3690004601,101,¼®Àü¸®806-7,1,20230519,POINT (325980.6002000002 379109.19329999946)
3,3690005000,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (325505.87710000016 379199.1718000006)
4,3690011100,101,ÇØ¼Ö¾î¸°ÀÌÁý,0,20230519,POINT (325872.9946999997 387438.1364999991)
...,...,...,...,...,...,...
206111,3680175100,101,¿¹»ê¸®927,0,20230519,POINT (315911.59190000035 370430.6024999991)
206112,3680179500,101,´ë»ê¸®1044,0,20230519,POINT (319754.87210000027 370413.5906000007)
206113,3680181600,102,ÀÛÀº¸®»ê190-1,0,20230519,POINT (310626.2966 363175.4713000003)
206114,3690001100,103,¼Ó¼ºº¯È­Á¡,0,20230519,POINT (321553.12480000034 374542.11400000006)
206115,3690001500,101,¿µ¸®1084,0,20230519,POINT (321902.9151999997 375081.2097999994)

In [192]:
import geopandas as gpd
from pyproj import CRS, Transformer

# Shapefile 읽기
shapefile_path = '/Volumes/Expansion/traffic-prediction/data/표준노드링크/[2024-02-23]NODELINKDATA/MOCT_NODE.shp'
gdf = gpd.read_file(shapefile_path)

# 현재 좌표계 확인
print(gdf.crs)

# 변환을 위해 현재 좌표계에서 WGS84 좌표계(EPSG:4326)로 변환
gdf = gdf.to_crs(epsg=4326)

# 변환된 위도와 경도 데이터를 확인
gdf['longitude'] = gdf.geometry.x
gdf['latitude'] = gdf.geometry.y

# 변환된 데이터 출력
print(gdf[['longitude', 'latitude']])

PROJCS["ITRF2000_Central_Belt_60",GEOGCS["ITRF2000",DATUM["International_Terrestrial_Reference_Frame_2000",SPHEROID["GRS 1980",6378137,298.257222101,AUTHORITY["EPSG","7019"]],AUTHORITY["EPSG","6656"]],PRIMEM["Greenwich",0],UNIT["Degree",0.0174532925199433]],PROJECTION["Transverse_Mercator"],PARAMETER["latitude_of_origin",38],PARAMETER["central_meridian",127],PARAMETER["scale_factor",1],PARAMETER["false_easting",200000],PARAMETER["false_northing",600000],UNIT["metre",1,AUTHORITY["EPSG","9001"]],AXIS["Easting",EAST],AXIS["Northing",NORTH]]
         longitude   latitude
0       128.401433  35.987562
1       128.405179  35.999519
2       128.397226  36.001456
3       128.391976  36.002327
4       128.397358  36.076510
...            ...        ...
206111  128.284312  35.924509
206112  128.326883  35.923893
206113  128.224755  35.859749
206114  128.347434  35.960869
206115  128.351393  35.965682

[206116 rows x 2 columns]