In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(f'/Users/danawls/Desktop/*Important*/traffic-deep-learning-research/test_data/1/6000VDS03500.csv')

In [4]:
df

,집계년월,집계시분,VDS_ID,traffic(Q),speed(u),confusion,lane_number,date
0,202301,05:30,6000VDS03500,11,100.69,0,1,2023-01-01 05:30:00
1,202301,05:30,6000VDS03500,15,80.26,0,2,2023-01-01 05:30:00
2,202301,01:50,6000VDS03500,2,107.00,0,1,2023-01-01 01:50:00
3,202301,01:50,6000VDS03500,5,81.67,0,2,2023-01-01 01:50:00
4,202301,03:40,6000VDS03500,2,106.83,0,1,2023-01-01 03:40:00
...,...,...,...,...,...,...,...,...
571,202301,23:45,6000VDS03500,10,88.24,0,2,2023-01-01 23:45:00
572,202301,23:50,6000VDS03500,5,105.71,0,1,2023-01-01 23:50:00
573,202301,23:50,6000VDS03500,9,86.90,0,2,2023-01-01 23:50:00
574,202301,23:55,6000VDS03500,6,107.81,0,1,2023-01-01 23:55:00
575,202301,23:55,6000VDS03500,10,88.90,0,2,2023-01-01 23:55:00

In [6]:
df.iloc[0].value[0]

't'